<footer>
    <hr/>
    <p>
        &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}

    </p>
</footer>

{% include JB/analytics %}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Background slider -->
<script src="/assets/js/jquery.backstretch.min.js"></script>
<!-- OwlCarousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Modal for portfolio -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Text rotator -->
<script src="/assets/js/jquery.simple-text-rotator.min.js"></script>
<!-- Waypoints -->
<script src="/assets/js/jquery.waypoints.js"></script>
<!-- CountTo  -->
<script src="/assets/js/jquery.countTo.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="/assets/js/wow.min.js"></script>
<!-- Smooth scroll -->
<script src="/assets/js/smoothscroll.js"></script>
<!-- Fitvids -->
<script src="/assets/js/jquery.fitvids.js"></script>
<!-- Custom scripts -->
<script src="/assets/js/custom.js"></script>
